<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<style>
		.mainTitle{font-family: Arial, Helvetica, sans-serif;}
		.basicText{font-family: Arial, Helvetica, sans-serif;}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>AndersonOrders - Ordering Made Easier</title>
	{% block head %} {% endblock %}
</head>

<body class="margin-0">
	{% block body %} {% endblock %}
</body>
</html>
