{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block head %}

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../static/css/checkout.css">

{% endblock %}

{% block body %}

<section class="dishes" id="dishes">

    <br>
    <br>
    <br>

    <h3 class="sub-heading"> our dishes </h3>
    <h1 class="heading"> Cart </h1>
    <div class="checkout-container">
        <div class="checkout-container-1">
            <!-- first div box -->
            <table>
                <tr>
                  <th>Item</th>
                </tr>
                <tr>
                  <td>Coke</td>
                </tr>
                <tr>
                  <td>Milo</td>
                </tr>
            </table>
        </div>
        <div class="checkout-container-2">
            <!-- second div box -->
            <table>
                <tr>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Total</th>
                </tr>
                <tr>
                  <td>$1.00</td>
                  <td>
                    <a href="">-</a>
                    1
                    <a href="">+</a>
                  </td>
                  <td>$1.00</td>
                </tr>
                <tr>
                    <td>$1.20</td>
                    <td>
                      <a href="">-</a>
                      1
                      <a href="">+</a>
                    </td>
                    <td>$1.20</td>
                </tr>
            </table>
        </div>
        <div class="checkout-container-3">
            <!-- subtotal div box -->
            <div class="checkout-container-3-1">
                <p>Subtotal</p>
            </div>
            <div class="checkout-container-3-2">
                <p class="checkout-container-3-2-p">$2.20</p>
                <div class="checkout-button">
                    <a>Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- loader part  -->
<!-- <div class="loader-container">
    <img src="../static/assets/images/loader.gif" alt="">
</div> -->

<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->

<!-- custom js file link  -->
<!-- <script src="../static/scripts/gif_animation.js"></script> -->

{% endblock %}
