{% extends 'base.html' %}

{% block head %}
    <!-- custom css file link  -->
    <link rel="stylesheet" href="../static/css/HomePage.css">

{% endblock %}

{% block body %}

<!-- dishes section starts  -->

<section class="dishes" id="dishes">

    <br>
    <br>
    <br>

    <h1 class="heading"> Stalls </h1>

    <div class="box-container">
        {% for i in range(len(stalls)) %}
            <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../static/assets/{{ img[i] }}" alt="{{ stalls[i] }}">
            <h3>{{ stalls[i] }}</h3>
            <!-- <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div> -->
            <a href="{{ stall_route[i] }}" class="btn">Order</a>
            {% if is_admin %}
            <a href="{{ stall_edit[i] }} class="btn">edit</a>
            {% endif %}
        </div>
        
        {% endfor %}
<!--         <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../static/assets/images/sushi.png" alt="">
            <h3>Japanese Stall</h3>
            <a href="#" class="btn">Order</a>
            {% if is_admin %}
            <a href="#" class="btn">edit</a>
            {% endif %}
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../static/assets/images/chickenRice.png" alt="">
            <h3>Chicken Rice Stall</h3>
            <a href="#" class="btn">Order</a>
            {% if is_admin %}
            <a href="#" class="btn">edit</a>
            {% endif %}
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../static/assets/images/western.png" alt="">
            <h3>Western Stall</h3>
            <a href="#" class="btn">Order</a>
            {% if is_admin %}
            <a href="#" class="btn">edit</a>
            {% endif %}
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../static/assets/images/mixed.png" alt="">
            <h3>Mixed Rice Stall</h3>
            <a href="#" class="btn">Order</a>
            {% if is_admin %}
            <a href="#" class="btn">edit</a>
            {% endif %}
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../static/assets/images/fruit.png" alt="">
            <h3>Fruit Stall</h3>
            <a href="#" class="btn">Order</a>
            {% if is_admin %}
            <a href="#" class="btn">edit</a>
            {% endif %}
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../static/assets/images/drink.png" alt="">
            <h3>Drink Stall</h3>
            <a href="DrinkStall" class="btn">Order</a>
            {% if is_admin %}
            <a href="DrinkStall" class="btn">edit</a>cde fg
            {% endif %}
        </div>
 -->
    </div>

</section>

<!-- dishes section ends -->


{% if animate_gif %}
<!-- loader part  -->
<div class="loader-container">
    <img src="../static/assets/images/loader.gif" alt="">
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="../static/scripts/gif_animation.js"></script>
{% endif %}
{% endblock %}
