{% extends 'base.html' %}

{% block head %}
    <!-- custom css file link  -->
    <link rel="stylesheet" href="../static/css/HomePage.css">

{% endblock %}

{% block body %}

<!-- dishes section starts  -->

<section class="dishes" id="dishes">

    <h1 class="heading" style="margin-top: 50px;"> Stalls </h1>

    <div class="box-container">
        {% for stall in stalls %}
            <div class="box">
            <!-- <a href="#" class="fas fa-eye"></a> -->
            <img src="../static/stall_images/{{ stall.image_directory }}" alt="{{ stall.stall_name }}">
            <h3>{{ stall.stall_name }}</h3>
            <!-- <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>  -->
            <a href="{{ stall.stall_name.replace(' ', '_') }}" class="btn">Order</a>
        </div>
        {% endfor %}
</section>

<!-- dishes section ends -->
{% endblock %}

{% block footer %} {% endblock %}