{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="nav">
        <h1 class="mainTitle">Ande Canteen</h1>
		<img src="../static/assets/schoollogo.png" alt="school logo" class="logo">
        <a href="cart.html"><img src="static/assets/cartIcon.png" alt="cart" class="cart"></a>
        <div class="logout">
            <a href="logout" class="basicText" style="margin:12% auto">Log out</a>
        </div>
    </div>
    <h2 class="stalltitle">Stalls:<h2>
    <div class="flex">
        <div class="stall">
            <a href="DrinkStall.html" class="stalltext">Drink stall</a> 
            <p class="stalltext2">*beverage</p>
        </div>
        <div class="stall">
            <a href="DrinkStall.html" class="stalltext">Fruit stall</a> 
            <p class="stalltext2">*fruit</p>
        </div>
        <div class="stall">
            <a href="DrinkStall.html" class="stalltext">Noodle stall</a> 
            <p class="stalltext2">*food</p>
        </div>
        <div class="stall">
            <a href="DrinkStall.html" class="stalltext">Japanese stall</a> 
            <p class="stalltext2">*food</p>
        </div>
        <div class="stall">
            <a href="DrinkStall.html" class="stalltext">Chic Rice stall</a> 
            <p class="stalltext2">*food</p>
        </div>
        <div class="stall">
            <a href="DrinkStall.html" class="stalltext">Malay stall</a> 
            <p class="stalltext2">*food</p>
        </div>
    </div>
{% endblock %}
