{% extends 'base.html' %}

{% block head %}

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../static/css/profile.css">

{% endblock %}

{% block body %}
    
<section class="dishes" id="dishes">
    
    <br>
    <br>
    <br>
    <br>

    <h1 class="heading"> Profile </h1>
    <div class="profile-container">
        <div class="container-name">
            <div class="container-name-1">
                <p>full name</p>
            </div>
            <div class="container-name-2">
                <p>Chang Jun Lim</p>
            </div>
        </div>
        <div class="container-class">
            <div class="container-class-1">
                <p>class</p>
            </div>
            <div class="container-class-2">
                <p>3/1</p>
            </div>
        </div>
        <div class="container-email">
            <div class="container-email-1">
                <p>email</p>
            </div>
            <div class="container-email-2">
                <p>limchangjun123@gmail.com</p>
            </div>
        </div>
        <div class="container-pw">
            <div class="container-pw-1">
                <p>password</p>
            </div>
            <div class="container-pw-2">
                <p>am********os</p>
            </div>
        </div>
        <img src="../static/assets/editIcon.svg" alt="edit" class="edit">
    </div>
</section>


<!-- dishes section starts  -->

<!-- loader part  -->
<!-- <div class="loader-container">
    <img src="images/loader.gif" alt="">
</div> -->

<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->

<!-- custom js file link  -->
<!-- <script src="../static/scripts/gif_animation.js"></script> -->

{% endblock %}
