<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AndersonOrders - Ordering Made Easier</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="icon" href="../static/assets/avatar2.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container" style="background-color: lightgray;">
		<div class="login-content">
			<form method="POST">
				{{ form.csrf_token() }}
				<img src="../static/assets/avatar2.svg">
				<h2 class="title">Sign-up</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Enter new username</h5>
						{{ form.username(class_="input") }}
           		   </div>
           		</div>
                <div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Enter new email</h5>
						{{ form.email(class_="input") }}
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Enter password</h5>
						{{ form.password(class_="input") }}
            	   </div>
            	</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Re-Enter password</h5>
						{{ form.confirm(class_="input") }}
            	   </div>
            	</div>
    			{% if username_taken %}
    				<div class="incorrect">Username or email has already been registered</div>
    			{% endif %}
				{% for field, errors in form.errors.items() %}
					<div class="incorrect">
						{{ ''.join(errors) }}
					</div>
				{% endfor %}
				{{ form.submit(class_="btn") }}
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../static/scripts/login.js"></script>
</body>
<footer>
<script>
	if ( window.history.replaceState ) {
		window.history.replaceState( null, null, window.location.href );
	}
</script>
</footer>
</html>