{% extends 'base.html' %}

{% block head %}

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../static/css/StallOwner.css">

{% endblock %}

{% block body %}

<section class="dishes" id="dishes">

    <br>
    <br>
    <br>

    <h1 class="heading"> Orders </h1>
    <!-- <div class="checkout-container">
        <div class="checkout-container-3">
            <div class="checkout-container-3-1">
                <p>Subtotal</p>
            </div>
            <div class="checkout-container-3-2">
                <p class="checkout-container-3-2-p">$2.20</p>
                <div class="checkout-button">
                    <a>Checkout</a>
                </div>
            </div>
        </div> -->
        <div class="checkout-container-2">
            <table>
                <tr>
                  <th>Order No.</th>
                  <th>Name</th>
                  <th>Class</th>
                  <th>Item</th>
                  <th>Qty</th>
                  <th>Price</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>101</td>
                  <td>Chang Jun</td>
                  <td>3/1</td>
                  <td>Milo</td>
                  <td>1</td>
                  <td>$1.20</td>
                  <td>
                    <a href="">
                        <img src="../static/assets/tickIcon.png" alt="">
                    </a>
                  </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Chang Jun</td>
                    <td>3/1</td>
                    <td>Milo</td>
                    <td>1</td>
                    <td>$1.20</td>
                    <td>
                        <a href="">
                            <img src="../static/assets/tickIcon.png" alt="">
                        </a>
                      </td>
                  </tr>
            </table>
        </div>
    </div>
</section>


<!-- dishes section starts  -->

<!-- loader part  -->
<div class="loader-container">
    <img src="../static/assets/images/loader.gif" alt="">
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="../static/scripts/gif_animation.js"></script>

{% endblock %}
