{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/stallowner.css">
{% endblock %}

{% block body %}
    <div class="nav">
        <h1 class="mainTitle">Cart</h1>
        <img src="../static/assets/schoollogo.png" alt="school logo" class="logo">
        <div class="logout">
            <a href="/logout" class="basicText" style="margin:12% auto">log out</a>
        </div>
    </div>
    <h2 class="stalltitle">Your Order<h2>
    <div class="flex">
        <div class="stall">
            <p class="stalltext">Coke</p> 
            <p class="smalltext2">x1</p>
            <p class="smalltext3">$1.00</p>
            <img src="../static/assets/tickIcon.png" alt="" class="cancel">
        </div>
        <div class="stall">
            <p class="stalltext">Milk Tea</p> 
            <p class="smalltext2">x1</p>
            <p class="smalltext3">$1.50</p>
            <img src="../static/assets/tickIcon.png" alt="" class="cancel">
        </div>
        <div class="stall">
            <p class="stalltext">Milo</p> 
            <p class="smalltext2">x1</p>
            <p class="smalltext3">$1.20</p>
            <img src="../static/assets/tickIcon.png" alt="" class="cancel">
        </div>
        <div class="stall">
            <p class="stalltext">Water</p> 
            <p class="smalltext2">x1</p>
            <p class="smalltext3">$0.60</p>
            <img src="../static/assets/tickIcon.png" alt="" class="cancel">
        </div>
        <div class="stall">
            <p class="stalltext">Coke</p> 
            <p class="smalltext2">x1</p>
            <p class="smalltext3">$1.00</p>
            <img src="../static/assets/tickIcon.png" alt="" class="cancel">
        </div>
        <div class="stall">
            <p class="stalltext">Coke</p> 
            <p class="smalltext2">x1</p>
            <p class="smalltext3">$1.00</p>
            <img src="../static/assets/tickIcon.png" alt="" class="cancel">
        </div>
    </div>
{% endblock %}
